html {
	font-size: 16;
}

body {
	font-size: 16;
}

p {
	font-weight: 400;
	line-height: 1.4em;
}

p.intro {
	text-indent: 2em;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-weight: 500;
	text-align: left;
	padding: 15px;
}

a:link {
	font-weight: bold;
	color: #4F3674;
	text-decoration: none;
}

a:visited {
	font-style: italic;
	color: #3FD4C5;
}

a:hover {
	background-color: #D6A800;
	text-decoration: underline;
}

address {
	text-align: center;
}


span.sentence {
	font-style: italic;
}

